$include /etc/inputrc

### Terminal settings

# case insensitivity
set completion-ignore-case on

"\C-h": backward-kill-word    # ctrl-Backspace
"\e[3;5~": kill-word          # ctrl-DEL

### End term settings
