###############################
## Autostart on Xorg startup ##
###############################

picom -f &                     # compositor (blur, fade, etc.)
$HOME/.screenlayout/display.sh # force screen resolution

# Random wallpapers
nitrogen --set-zoom-fill --random ~/Pictures/Wallpapers

# Automounting USB flash drives
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS";
 then
 eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi
